*{
    background-color: rgb(245, 234, 220);
}

.mainheading{
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}
div.menulist{
    text-align: center;

}
ol.myOL{
    display: inline-block;
    text-align: left;
    font-size: 25px;
}
.menuitem{
    color: black;
    font-weight: 500;
    text-decoration: none;
}
.recipeh{
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}
